 body{background-image: url(assets/fonod5.png);
    overflow: auto;    
          
}

.gridlogo{
    display: grid;
    grid-template-columns: 100px;
    background-color: black;
    grid-template-rows: 50px;
    grid-row-gap: 15px ;
    grid-column-gap: 10px;

}




.gridnav{
    background-color: black;
    
  
   

}

.inicio{
    display: inline;
   margin-left: 00px;
   margin-right: 10px;
     }



    


.noticias{
    display: inline;
    margin: 0px;
    margin-right: 10px;
    margin-left: 10px;  }
  


 .redes{
    display: inline;
    margin: 0px;
    margin-right: 10px;
    margin-left: 10px;
 }

 .tvvivo{
    display: inline;
    margin: 0px;
    margin-right: 10px;
    margin-left: 10px;
}
 

.contacto{
    display: inline;
    margin: 0px;
    margin-right: 10px;
    margin-left: 10px;
}

.gridimg{
    display: grid;
  width: 96%;
    max-width: 960px;
    margin: auto;
}

.imgg{
    display: grid;
    width: 100%;
    height: auto;
}



.header{
        display: flex;
        justify-content:auto;
        align-items: center;
        background-color: black;
        border: solid black;
     
}
        


 .logo{ 
     width:80px;
    height: 80px;
}

.list{
    list-style-type: none;
    margin: 0px;
    padding: 00px;
    border-top: solid black;
    border-bottom: solid black;
  text-transform: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     }


  
     

.list li{ 
    display: inline ;
    margin: 00px;
    bottom: 200px;
    justify-content: space-around;
}
 
.parrafo{

    text-align:center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
    text-transform: uppercase;
    border-top: solid black;
    border-bottom: solid black;
    border-left: solid black;
    border-right: solid black;
    background-color: white;;
}

.parrafo:hover{
    background-image:url(./assets/fonod5.png);
}

.img{
    width: 100%;
    height: auto;
   border: double  white;  animation-duration: 5s;}

  .a{ 
      text-decoration: none;
      color: white}


 .a:hover{ 
    text-decoration: double;
    color: rgba(243, 243, 243, 0.733);
    text-decoration: underline;

}

  .ali{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: white;
    text-decoration: none;
  }

.ali:hover{
    text-decoration: double;
    color: rgba(243, 243, 243, 0.733);
    text-decoration: underline;

}

  .listdos{
      list-style-type: none;
      display: inline-block;
     width: 100px;
     margin-top: 50px;
     margin-left: 50px;
     }

.footer{

    margin-top: 300px;
    overflow: hidden; 
    height: 200px; ;  
    margin: 0px;
 

}







/*diseño de page:tvivo*/


.bodytv{
    
     background-image: url(././assets/fonod5.png); 
    overflow:visible;
} 

.headertv{
    background-color: black;
    border: solid black;
    display: flex;
    justify-content:auto;
    align-items: center;
    background-color: black;
    border: solid black;
    margin: top -230px;
 
   
}   




.ultv{
  list-style: none;  
display: inline;
list-style: none;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
display: flex;
justify-content:auto;
align-items: center;
position: relative;
top: -30px;
left: -30px;

} 

.listtv{
    display: inline;
  margin:00px;
  margin-right: 10px;
  margin-left: 0px; 
  align-items: center;
  margin-bottom:  -12px;
  color: white;
  
}
.logoweb{
    width: 87px;;
   position: relative;
   top: -7px;
   right: 10px;
}
  


.auno:hover{ text-decoration: double;
    color: rgba(243, 243, 243, 0.658);
    text-decoration: underline;
    
}
.h1tv{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-top: solid black;
  border-bottom: solid black;
  border-left: solid black;
  border-right: solid black;
  background-color: white;
  text-align: center;  }

.h1tv:hover{
    background-image: url(./assets/fonod5.png);
}



.videotv{
    width: 100%;
    height: 100%;
    border: double white;
    justify-content: center;
    margin-left: 00px;

}

.footertv{ 
    margin-top: 23px;
    overflow: hidden; 
    
}

.fottv{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block;
    width: 90px;
}

.auno{
    text-decoration: none;
    color: white;
}

.afot{
    text-decoration: none;
    color: white;
}
.afot:hover{
    text-decoration: double;
    color: rgba(243, 243, 243, 0.733);
    text-decoration: underline;

}






/* diseño redes*/


.body{
    background-image: url(./../assets/fonod5.png); 
    
}
   

.lir{
    list-style-type:none ;
    justify-content: space-between;
    margin-left: 00px;
    display:inline-block 
}





.ulre{
    background-color: black;
    display: inline-block;
    justify-content: space-between;
   
   
 
}

.ar{
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}

.ar:hover { text-decoration: double;
    color: rgba(243, 243, 243, 0.733);
    text-decoration: underline;


} 



.h1r{
    text-decoration:none;
    padding: 0px;
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   justify-content: center;
    text-decoration: underline;
    margin-left: 110px;
  
    
}

.h2r{
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    justify-content: center;
    
}

.h5r{
    display: none;
    justify-content: center;
    
}

.imgrr{
    display: inline;
  max-width: 500px;
  max-height: 300px;
margin-bottom: 00px;
justify-content: center;

}

.imgdosr{
    max-width: 500px;
    margin-bottom: 00px;
    max-height:300px ;
    justify-content: center;
}

.footr{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style: none;
    display: inline-block;
    text-decoration: none;

    
}
    

.afr{
    text-decoration: none;
    color: white;
   
}

.lifr{
    display: inline-block;
   margin-top: 100px;
   text-decoration: none;
   
    
}

.imgddos{
    animation-duration: 3s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}





/*diseño noticias*/

.bodyn{
    background-image:url(././assets/fonod5.png)
}

.uln{
    list-style-type:none ;
    background-color: black;
    padding: 30px;
    
}

    

.listn{
  display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    margin-left: 200px;

}

.an{
    text-decoration: none;
    color: white;
    
    

}

.h1n{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-top: solid black;
  border-bottom: solid black;
  border-left: solid black;
  border-right: solid black;
  background-color: white;
padding-left: 800px; }

.h2n{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-decoration: dotted;

}

.pn{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0px;
    margin-top: 100px;
    margin-left: 700px;
    margin-right: 400px;

}

.imgunon{
    border: double white;
    margin-top: -100px; 
    width: 300px;
    margin-left: 100px;
    height: 300px;
}

.p2n{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-bottom: 0px;
    margin-top: 100px;
    margin-left: 700px;
    margin-right: 400px;
}

.imgn{
    border: double white;
    margin-top: -100px;
    width: 500px;
    height: 300px;
}

.fotn{
    margin-top: 300px;
    overflow: hidden; 
    
}

.listnu{
    list-style-type:none;
    display: inline-block;
    width: 200px;
    margin-left: 600px;
    
}

.an{
    color: white;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}









/*diseño contacto */
.bodyc{
    background-image: url(././assets/fonod5.png);

}

.lic{ list-style-type:none ;
    display: inline-block;
    margin: 50px;
    color: white;
    margin-bottom: 400px;
    
}


.ulc{
text-decoration: none;
color: white;
background-color:  black;
height: 100px;
padding: -100px;
margin-bottom: 50px;
content: 200px;
margin-top: 30px;




}

.ac{ color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-decoration: none;


}

.formc{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.h1c{
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.acus{
    text-decoration: none;
    list-style-type: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color: white;
}

 

