.inicio {
    display: inline;
    margin-left: 00px;
    margin-right: 10px;
}

.noticias{
    @extend .inicio;

}

.redes{
    @extend .inicio;
}

.contacto{
    @extend .inicio;
}

.tvvivo{
    @extend .inicio;
}

