$rede: (
    TWITCH: #9003FF,
    
    margin-top:100px
    
);

.imgdosr { background-color: map-get($rede,TWITCH);
margin-top: map-get( $rede,margin-top);

}

.imgddos{ background-color: map-get($rede,TWITCH );
}


