$rede: (
    TWITCH: solid #9003FF,
    
    margin-top:100px
    
);

.imgdosr { border: map-get($rede,TWITCH);
margin-top: map-get( $rede,margin-top);

}

.imgddos{ border:  map-get($rede,TWITCH );
}


