.bodytv{
     background-image: url(./../assets/fonod5.png);
     overflow: visible;
} 

.headertv{
    background-color: black;
    border: solid black;
    display: flex;
    justify-content:auto;
    align-items: center;
    background-color: black;
    border: solid black;
    margin: top -230px;
    
    .logoweb{
        width: 87px;;
       position: relative;
       top: -7px;
       right: 10px;
    }
      
    .ultv{
        list-style: none;  
      display: inline;
      list-style: none;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      display: flex;
      justify-content:auto;
      align-items: center;
      position: relative;
      top: -30px;
      left: -30px; 
      
      .auno{
        text-decoration: none;
        color: white;
        
        &:hover{text-decoration: double;
        color: rgba(243, 243, 243, 0.658);
        text-decoration: underline;}  
    
    
    }
       
    }
}

.listtv{
         display: inline;
         margin:00px;
         margin-right: 10px;
        margin-left: 0px; 
        align-items: center;
        margin-bottom:  -12px;
        color: white;} 

.h1tv{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     border-top: solid $negro; 
     border-bottom: solid $negro;
    border-left: solid $negro;
    border-right: solid $negro;
     background-color: white;
     text-align: center;  

        & :hover{
            background-image: url(./../assets/fonod5.png)
        }
    }
    
.videotv{
        width: 100%;
        height: 100%;
        border: double white;
        justify-content: center;
        margin-left: 00px;
     }    
    
.footertv{ 
    margin-top: 23px;
    overflow: hidden; 

    .fottv{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        display: inline-block;
        width: 90px;
    
        .afot{
            text-decoration: none;
            color: white;
            
            &:hover{ text-decoration: double;
                color: rgba(243, 243, 243, 0.733);
                text-decoration: underline;}
        
        
        }
    
    }

}    
            


   